:root { 
    --color-primary: rgba(19, 23, 26, 1);
    --color-secondary: rgba(255, 255, 255, 1);
    --color-accent: #e74c3c;
    --font-family-base: "Roboto", sans-serif;
    --font-size-base: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--font-family-base);
}
