header {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    text-align: center;
    background: linear-gradient(to bottom right, rgb(238, 238, 238) 35%, rgba(244, 201, 220, 1), rgba(213, 205, 242, 1), rgba(182, 226, 239, 1) );
}

.contenido_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}