.header {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    text-align: center;
    background: var(--color-background);
}

.contenido__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nosotros {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 19px #46454531;
    padding: 2rem;
}

.servicios {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 19px #4645452d;
    margin-bottom: 25px;
}

.cta{
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: 200px;
    background: var(--color-background);
    box-shadow: 0px 1px 19px #4645452d;
    margin-bottom: 25px;
}

.formulario {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: 550px;
    background: var(--color-background);
    box-shadow: 0px 1px 19px #4645452d;
}
.formulario__contacto {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 80%;
  max-width: 450px;
  height: 380px;
  background: var(--color-secondary);
  border-radius: 13px;
  padding: 3rem;
  box-shadow: 0px 1px 19px #4645451e;
}
@media (min-width: 768px) {
    .formulario__contacto {
        height: 400px;
    }
    .formulario__contacto label, input, textarea {
        font-size: 1.7rem;
    }
}

.footer {
    margin: auto;
    padding: 2rem;
    margin-top: 15px;
    text-align: center;
    border-radius: 13px;
    width: 95%;
    max-width: 450px;
    height: 13rem;
    background: var(--color-primary);
    box-shadow: 0px 1px 19px #4645452d;
    margin-bottom: 25px;
    color: var(--color-secondary);
}

@media (min-width: 768px) {
    .header, .nosotros, .servicios, .cta, .formulario, .footer {
        max-width: 641px;
    }
}

@media (min-width: 1024px) {
    .header, .nosotros, .servicios, .cta, .formulario, .footer {
        max-width: 1008px;
    }
}
