header {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    text-align: center;
    background: var(--color-background);
}

.contenido_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nosotros {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 19px #46454531;
    padding: 2rem;
}

.servicios {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 19px #4645452d;
    margin-bottom: 25px;
}

.cta{
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: 200px;
    background: var(--color-background);
    box-shadow: 0px 1px 19px #4645452d;
    margin-bottom: 25px;
}

.formulario {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: 450px;
    background: var(--color-background);
    box-shadow: 0px 1px 19px #4645452d;
}
.formulario__contacto {
  margin: auto;
  width: 80%;
  max-width: 450px;
  height: 300px;
  background: var(--color-secondary);
  border-radius: 13px;
  padding: 3rem;
  box-shadow: 0px 1px 19px #4645451e;
}

.footer {
    margin: auto;
    padding: 2rem;
    margin-top: 15px;
    text-align: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: 13rem;
    background: var(--color-primary);
    box-shadow: 0px 1px 19px #4645452d;
    margin-bottom: 25px;
    color: var(--color-secondary);
}

