header {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    text-align: center;
    background: var(--color-background);
}

.contenido_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nosotros {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 19px #46454531;
    padding: 2rem;
}

.servicios {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 90%;
    max-width: 450px;
    height: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 19px #4645452d;
    margin-bottom: 25px;
}

